@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta/AvertaDemo-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta/Averta-Semibold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta/hinted-Averta-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
      }
    10% {
        transform: scale(1.01);
      }
    20% {
        transform: scale(1.02);
      }
      30% {
        transform: scale(1.03);
      }
      40% {
        transform: scale(1.04);
      }
      50% {
        transform: scale(1.05);
      }
      60% {
        transform: scale(1.06);
      }
      70% {
        transform: scale(1.07);
      }
      80% {
        transform: scale(1.08);
      }
      90% {
        transform: scale(1.09);
      }
      100% {
        transform: scale(1.1);
      }
    /*from { transform: scale(1); }
    50% { transform: scale(1.01); }
    to { transform: scale(1.05); }*/

  }
  @keyframes pulseOnline {
    from { transform: scale(1); }
    50% { transform: scale(0.85); }
    to { transform: scale(1.2); }
  }
  .fe-pulse-w-pause {
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .fe-pulse-w-pause:hover,
  .fe-pulse-w-pause:focus {
    animation-name: unset;
  }
/*
@-webkit-keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }
  
  @-moz-keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }
  
  @-ms-keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }
  
  @keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }*/
.onlinePulse{
    width: 10px;
    height: 10px;
    background-color: #0fa;
    border-radius: 100px;
    animation-name: pulseOnline;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: inline-block;
    margin-right: 4px;
}

#ie-mustdie {
    display: none;
    width: 70%;
    position: absolute;
    top: 200px;
    left: 100px;
}

body {
	background: #202036;
    min-width: 1200px;
    /*min-height: 1242px;*/
    font-family: 'Montserrat';
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

a {
    color: #ffffff;
}

a:hover, a:visited, a:link, a:active {
    color: #ffffff;
    text-decoration: none;
}

.cursPointer{cursor:pointer;}
.ghHeadTabletTop7{width:157px;overflow:hidden;text-overflow:ellipsis;}
.forScrollEX{position:absolute;top:938px;height:201px;}

.Rectangle {
    width: 100%;
    height: 72px;
    position: relative;
}

.main-frame {
    width: 100%;
    position: relative;
    top: 12px;
}

.shitClass{position:absolute;width: 1110px;height:56px;left:calc(50% + -600px + 45px);}

.Dice {
    width: 48px;
    height: 48px;
    color: #ff8800;
    font-family: 'Averta';
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.83px;
    background: rgba(255,136,0,0.03);
    border-radius: 24px;
    border: none;
    position: absolute;
    top: 12px;
    left: calc(50% + -600px + 45px);
}

.DiceEX{
    width: 58px;
    height: 58px;
    border-radius: 29px;
    top: 7px;
}

.mobile-but {
    width: 24px;
    height: 24px;
    background: url(../images/mobile-menu.svg) no-repeat;
    background-position:center center;
    background-size: 24px 24px;
    color: transparent;
    position: absolute;
    top: 12px;
    right: 12px;
}

.mobile-but-close{background: url(../images/mobile-menu-close.svg) no-repeat;background-position:center center;background-size: 24px 24px;}

.mobileMenuClass {
    position: absolute;
    z-index: 9000;
    width: 100%;
    height: 320px;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    background-image: -webkit-linear-gradient(270deg, #202036, rgba(255, 255, 255, 0.06));
    background-image: -moz-linear-gradient(270deg, #202036,rgba(255, 255, 255, 0.06));
    background-image: -o-linear-gradient(270deg, #202036, rgba(255, 255, 255, 0.06));
    background-image: linear-gradient(180deg, #202036, rgba(255, 255, 255, 0.06));
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.playMenu {
    width: 59px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: calc(50% + 600px - 45px - 97px - 59px);
    cursor: pointer;
}

.playMenu:hover {
    color: rgba(224, 224, 255, 0.8);
}

.playMenuText {
    width: 35px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: right;
}

.arrow-div {
    width: 24px;
    height: 24px;
    position: absolute;
    background: url(../images/arrow-down.png) no-repeat;
    background-position: center center;
    background-size: 11.2px 6.6px;
}

.transform-arrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.pos1 {right: 0px;top: 0px;}

.ratingMenu {
    width: 94px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    position: absolute;
    left: calc(50% + -600px + 45px + 183px);
    top: 24px;
    cursor: pointer;
}
.ratingMenu:hover {color: rgba(224, 224, 255, 0.8);}

.btcCur {
    width: 123px;
    height: 36px;
    background: rgba(0,255,170,0.03);
    border-radius: 18px;
    border: none;
    position: absolute;
    top: 18px;
    left: calc(50% + -600px + 576px);
}

.btcIco {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    left: 8px;
    background: url(../images/btc-ico.svg) no-repeat;
    background-position: center center;
    background-size: 16.7px 16.7px;
}

.btcValue {
    width: 79px;
    height: 24px;
    font-family: 'Averta';
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #00ffaa;
    position: absolute;
    top: 20.7%;
    left: 37px;
}

.btcArrow {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 6px;
    left: 115px;
    background: url(../images/btc-up.svg) no-repeat;
    background-position: center center;
    background-size: 22.2px 22.6px;
}

.youCnt {
    width: 202px;
    height: 24px;
    position: absolute;
    top: 24px;
    left: calc(50% + -600px + 45px + 724px);
}

.youBtc {
    height: 24px;
    font-family: 'Averta';
    font-size: 23px;
    font-weight: 700;
    line-height: 1;
}

.btcFont {
    height: 16px;
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 1px;
}

.btcFont2 {
    height: 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 1px;
    width: 10px;
    display: inline-block;
}

.pos2 {left: 141px;top: 7px;}
.pos3 {left: 178px;top: 0px;}

.lang {
    width: 24px;
    height: 24px;
    background: url(../../src/img/united-states.svg) no-repeat;
    background-position:center center;
    background-size: 24px 24px;
    position: absolute;
    top: 24px;
    right: 150px;
    cursor: pointer;
}

.userMenu {
    width: 80px;
    height: 48px;
    position: absolute;
    top: 12px;
    left: calc(50% + -600px + 45px + 1030px);
    cursor: pointer;
}

.SignUpIn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25px;
    right: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

.SignUpIn div:first-child {
    margin-right: 15px;
}

.userPhoto {
    width: 48px;
    height: 48px;
    background: url(../images/profiles/test.png) no-repeat;
    background-position:center center;
    background-size: 48px 48px;
    border-radius: 18px;
    border: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

.userAva {
    width: 82px;
    padding: 37px 22px 19px 42px;
    box-sizing: content-box;
    cursor: pointer;
}

.userAvaSmall {
    width: 42px;
}

.userAvaSmallCard {
    width: 42px;
    padding: 18px;
    box-sizing: content-box;
}

.userAvaSmallCardGame {
    width: 42px;
    padding: 18px;
    box-sizing: content-box;
    margin-left: 58px;
}

.players-now {
    display: flex;
    overflow: auto;
}

.players-now__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 138px;
    padding: 0 40px;
}

.player-ava {
    position: relative;
}

.player-name {
    margin: 5px 0;
}

.player-percent {

}
.dgMUI{
color: white !important;
}

.promocodeText{
    left: 24px;
width: 302px;
}

.userPos {
    width: 96px;
    height: 96px;
    border-radius: 48px;
    top: 24px;
    left: 24px;
    background-size: 96px 96px;
}

.pos4 {top: 12px;left: 56px!important;}

.lang-div-img2 {
    background: url(../../src/img/united-states.svg) no-repeat;
}

.lang-div-img3 {
    background: url(../../src/img/russia.svg) no-repeat;
}

.lang-div-img4 {
    background: url(../../src/img/china.svg) no-repeat;
}

.card-1 {
    width: 160px;
    min-width: 160px;
    height: 160px;
    border-radius: 24px;
    box-shadow: 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12), 0 8px 8px -4px rgba(32, 32, 54, 0.06);
    background-color: #2a2a41;
    position: relative;
    top: 0px;
    display: table-cell;
}

.left1{left: 0px;}
.left2{left: 30px;}
.left3-2{left: 60px;}
.left4-2{left: 90px;}
.left5-2{left: 120px;}
.left6-2{left: 150px;}
.left2-1{left: 190px;}
.left3,.left3-1,.left3r {left: 380px;}
.left4 {left: 570px;}
.left5,.left5slip,.left5-1,.left5r {left: 760px;}
.left6 {left: 950px;}

.pic-1 {background: url(../images/card-1.svg) no-repeat;}
.pic-2 {background: url(../images/card-2.svg) no-repeat;}
.pic-3 {background: url(../images/card-3.svg) no-repeat;}
.pic-4 {background: url(../images/clover.svg) no-repeat;}
.pic-5 {background: url(../images/maxbet.svg) no-repeat;}
.pic-6 {background: url(../images/card-6.svg) no-repeat;}

.picClass {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 48px;
    height: 48px;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.02);
    background-position:center center;
    background-size: 24px 24px;
}
.picClass:hover{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.kost-cur {
    position: absolute;
    top: 30px;
    right: 30px;
    color: rgba(255, 255, 255, 0.6);
}

.card-6-pic-pos {
    top: 26px;
    left: 26px;
    width: 24px;
    height: 24px;
    border-radius: 0;
    background-color: transparent;
}

.unit {
    position: absolute;
    top: 101px;
    width: 12px;
    height: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
}

.unitEX {top: 113px;}
.unit-left-1 {left: 16px;}
    
.cardValueTxt {
    position: absolute;
    top: 95px;
    width: 129px;
    height: 48px;
    font-family: 'Averta';
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    overflow: hidden;
}

.cardValueTxtBig {
    position: absolute;
    top: 95px;
    width: 208px;
    height: 48px;
    font-family: 'Averta';
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    overflow: hidden;
}

.cardValueTxtEX{top: 88px;font-size: 48px;}

.cvleft-1 {left: 32px;}
.cvleft-2 {left: 16px;}

.cardText {
    position: absolute;
    bottom: 13px;
    left: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: 1px;
}

.card-2 {
    position: absolute;
    top: 190px;
    width: 160px;
    height: 48px;
    border-radius: 12px;
    background: rgba(255,255,255,0.02);
    cursor: pointer;
}

.card-2:hover {background-color: rgba(224, 224, 255, 0.04);}

.openMenu {
    position: absolute;
    top: 190px;
    width: 180px;
    border-radius: 12px;
    height: 144px;
    box-shadow: 0 16px 16px -4px rgba(32, 32, 54, 0.06), 0 4px 8px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
    background-color: #2a2a41;
}

.openMenuType{height:240px;}

.playMenuOpen{
    left: calc(50% - 600px + 124px);
    top:60px;
    z-index:9999;
}

.firstLane {
    position: relative;
    height: 48px;
    width: 120px;
    border-radius: 12px;
}
.firstLane:hover {background-color: rgba(224, 224, 255, 0.02);}
.selectedTab{
    font-weight: bold;
}
.secondLane {border-radius: 0 0 0 0;}
.thirdLane {border-radius: 0 0 12px 12px;}

.rouletteMenuItem{
    background-image: url(/images/roulette.svg);
    background-repeat: no-repeat;
    padding-left: 26px;
}

.diceMenuItem{
    background-image: url(/images/dice.svg);
    background-repeat: no-repeat;
    padding-left: 26px;
    background-size: 25px;
}

.freeMenuItem{
    background-image: url(/images/freebtc.svg);
    background-repeat: no-repeat;
    padding-left: 26px;
    background-size: 25px;
}

.ratingMenuItem{
    background-image: url(../images/card-5.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-size: 25px;
}

.navLink{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    position: absolute;
    top: 12px;
    left: 16px;
}

.betValue {
    width: 180px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    position: absolute;
    top: 12px;
    left: 16px;
}

.pos5 {top:12px;right:12px;}

.countdown-div {
    width: calc(100% - 380px);
    height: 48px;
    position: absolute;
    top: 190px;
    left: 380px;
}

.countdown-div-2 {
    width: 100%;
    left: 0px;
}
    
.start {
    position: absolute;
    top: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    left: 8px;
}

.timer {
    position: absolute;
    right: 8px;
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    top: 16px;
}

.textOnCountdown{
    width:100%;
    text-align:center;
    left:0px;
}

.countdown-back {

    width: 100%;
    height: 48px;
    border-radius: 34px;
    background: rgba(245,92,69,0.03);
}

.countdown {
    position: absolute;
    top: 0px;
    height: 48px;
    border-radius: 34px;
    background: linear-gradient(90deg, #E12D81, #F55C45, #FF8800);
}

.card-3, .card-3-1 {
    position: absolute;
    top: 268px;
    width: 350px;
    height: 220px;
    border-radius: 24px;
    box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
    background-color: #2a2a41;
}

.gameCardTop{top:268px;}
.gameCardTop-2{top:190px;}

.userName {
    height: 28px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    position: absolute;
    top: 44px;
    left: 144px;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userBalance {
    height: 24px;
    color: rgba(255,255,255,0.6);
    font-family: 'Averta';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    top: calc(44px + 28px);
    left: 144px;
}

.button-1 {
    width: 113px;
    height: 48px;
    position: absolute;
    top: 148px;
    left: 24px;
    border-radius: 12px;
    background: rgba(255,136,0,0.03);
    cursor: pointer;
    color: #ff8800;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
}

.button-1EX{background-color: rgba(225, 45, 129, 0.03);left:161px;color: #e12d81;}

.logoutBut {
    width: 48px;
    height: 48px;
    position: relative;
    /*top: 148px;
    right: 24px;*/
    border-radius: 12px;
    background: rgba(255,255,255,0.02);
    cursor: pointer;
}

.logoutPic {
    width: 24px;
    height: 24px;
    background: url(../images/logout.svg) no-repeat;
    background-position:center center;
    background-size: 24px 24px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.bet {
    width: 96px;
    height: 36px;
    position: absolute;
    font-family: 'Averta';
    background: rgba(255,255,255,0.02);
    border-radius: 12px;
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}
.bet:hover {background-color: rgba(224, 224, 255, 0.04);}

.bet-selected {
    background-color: rgba(255, 136, 0, 0.03);
    color: #ff8800;
}
.bet-selected:hover {background-color: rgba(255, 136, 0, 0.06);}

.bet-pos-1 {top: 24px;left: 24px;}
.bet-pos-2 {top: 24px;left: 128px;}
.bet-pos-3 {top: 24px;left: 231px;}
.bet-pos-4 {top: 68px;left: 24px;}
.bet-pos-5 {top: 68px;left: 128px;}
.bet-pos-6 {top: 68px;left: 231px;}

.newText{width:100%;text-align:center;left:0px;top:118px;}

.button-2 {
    width: 141px;
    height: 48px;
    border-radius: 12px;
    box-shadow: 0 8px 8px -4px rgba(245, 92, 69, 0.12), 0 16px 24px 0 rgba(245, 92, 69, 0.24), 0 2px 4px -1px rgba(27, 10, 82, 0.12), 0 0 1px 0 rgba(245, 92, 69, 0.24);
    background-image: linear-gradient(to right, #ff8800, #f55c45 51%, #e12d81);
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    padding: 0;
}
.button-2:hover {box-shadow: 0 12px 12px -4px rgba(245, 92, 69, 0.12), 0 24px 32px 0 rgba(245, 92, 69, 0.24), 0 4px 4px -1px rgba(27, 10, 82, 0.12), 0 1px 1px 0 rgba(245, 92, 69, 0.24);}
.button-2:active {box-shadow: 0 8px 8px -4px rgba(245, 92, 69, 0.12), 0 8px 16px 0 rgba(245, 92, 69, 0.24), 0 1px 4px -1px rgba(27, 10, 82, 0.12), 0 1px 1px 0 rgba(245, 92, 69, 0.24);}

.bet-pos-7{bottom:24px;left:24px;}
.bet-pos-7:hover {top: 147px;}
.bet-pos-7:active {top: 148px;}

.bet-pos-7-disable {
    top: 148px;
    left: 24px;
    box-shadow: 0 0 8px -4px rgba(245, 92, 69, 0.12), 0 0 24px 0 rgba(245, 92, 69, 0.24), 0 0 4px -1px rgba(27, 10, 82, 0.12), 0 0 1px 0 rgba(245, 92, 69, 0.24);
    color: rgba(255, 255, 255, 0.24);
}

.btcTxt {
    position: absolute;
    bottom: 40px;
    left: 210px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: 1px;
}

.iconInfo {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../images/icon-info.svg) no-repeat;
    background-position:center center;
    background-size: 24px 24px;
    border-radius: 12px;
}

.inf-pos-1{left:290px;top:160px;}
.inf-pos-2{right:24px;top:24px;}

.gameTxt {
    position: absolute;
    top: 24px;
    left: 24px;
    width: auto;
    height: 28px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}

.card-6-pos {left: 66px;}

.gameId {
    position: absolute;
    top: 23px;
    left: 102px;
    height: 28px;
    font-family: 'Averta';
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
}

.fgameTxt {
    position: absolute;
    top: 76px;
    left: 24px;
    height: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: #ffffff;
}

.fgameId {
    position: absolute;
    top: 80px;
    left: 107px;
    height: 16px;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.14;
}

.jack-div {
    position: absolute;
    top: 116px;
    left: 24px;
    width: 300px;
    height: 80px;
    border-radius: 12px 0 0 12px;
    background-color: rgba(255, 136, 0, 0.03);
}

.jack-div-2 {width: 302px;border-radius: 12px;}

.jack-value {
    position: absolute;
    top: 16px;
    left: 16px;
    height: 24px;
    font-family: 'Averta';
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ff8800;
}

.btcTxt2 {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 1px;
    color: rgba(255, 136, 0, 0.6);
    margin-left: 5px;
}

.jack-txt {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: #ff8800;
    position: absolute;
    top: 48px;
    left: 16px;
}

.slots-div {
    width: 107px;
    height: 80px;
    border-radius: 0 12px 12px 0;
    background-color: rgba(225, 45, 129, 0.03);
    position: absolute;
    top: 116px;
    left: 219px;
}

.cnt-slots {
    width: 23px;
    height: 24px;
    font-family: 'Averta';
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #e12d81;
    position: absolute;
    top: 15px;
    left: 16px;
}

.all-slots {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 1px;
    color: rgba(225, 45, 129, 0.6);
    margin-left: 5px;
}

.txt-slots {color: #e12d81;}

.card-4 {
    position: absolute;
    top: 518px;
    width: 100%;
    height: 146px;
    border-radius: 24px;
    box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
    background-color: #2a2a41;
}

.ul-card-4 {
    width: 100%;
    height: 146px;
    margin: 0;
    padding: 0;
    /*overflow: scroll;
    overflow-x: scroll;
    display: table;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;*/
    scrollbar-color: rgb(69, 76, 98) transparent !important;
    scrollbar-width: thin !important;
    border-radius: 24px;
    box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
    background-color: #2a2a41;
}

.ul-card-4-1 {
    top: 8px;
    height: 256px;
    overflow-y: scroll;
    border-radius: 24px;
}

.li-card-4 {
    list-style-type: none;
    width: 138px;
    height: 146px;
    /*display: inline-block;*/
    display: table-cell;
    position: relative;
    top: 0px;
}

.li-card-5 {
    list-style-type: none;
    width: 359px;
    height: 80px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.02);
    display: inline-block;
    position: relative;
    left: 8px;
    margin-right: 5px;
    margin-bottom: 4px;
}

.li-user-pic {
    position: absolute;
    width: 48px;
    height: 48px;
    background: url(../images/profiles/test2.png) no-repeat;
    background-position: center center;
    background-size: 48px 48px;
    border-radius: 24px;
}

.li-pic-pos-1 {top: 24px;left: 45px;}
.li-pic-pos-2 {top: 16px;left: 16px;}

.waiting {background: url(../images/profiles/test-wait.png) no-repeat;}

.li-user-name {
    position: absolute;
    top: 80px;
    width: 138px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    text-align: center;
}

.li-user-perc {
    position: absolute;
    top: 102px;
    width: 138px;
    font-family: 'Averta';
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    text-align: center;
}

.card-5 {
    top: 694px;
    height: 272px;
}

.user-name-card5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    position: absolute;
    top: 26px;
    left: 80px;
    max-width: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tabletStyleWal{width:auto;overflow:hidden;text-overflow:ellipsis;}

.time-pos {
    top: 46px;
    left: 80px;
    text-align: left;
}

.li-user-win {
    font-family: 'Averta';
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    position: absolute;
    top: 26px;
    right:28px;
	text-align:right;
    background-color: #2e2e45;
    padding-left: 10px;
}

.footer {
    width: 100%;
    height: 56px;
    position: relative;
    top: 1114px;
}

.foottxt {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    position: absolute;
    top: 16px;
}

.f-pos1 {
    width: 142px;
    text-align: right;
    left: auto;
    right: 0px;
}

.f-pos2 {
    width: 100px;
    text-align: center;
    left: 237px;
}

.f-pos3 {
    width: 100px;
    text-align: center;
    left: 443px;
}

.f-pos4 {
    width: 150px;
    text-align: center;
    left: 678px;
}

.card-6 {
    width: 350px;
    height: 484px;
    border-radius: 24px;
    box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
    background-color: #2a2a41;
    position: absolute;
    top: 190px;
}

.ul-card-6 {
    width: 346px;
    height: 384px;
    margin: 0;
    padding: 0;
    /*overflow: scroll;
    overflow-x: scroll;
    display: table;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;*/
    position: absolute;
    top: 76px;
    left: 4px;
    scrollbar-color: rgb(69, 76, 98) transparent !important;
    scrollbar-width: thin !important;
}

.li-card-6 {
    list-style-type: none;
    width: 346px;
    height: 48px;
    /*display: inline-block;
    display: table-cell;*/
    position: relative;
    top: 0px;
}

.ratingNum,.ratingNum2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    text-align: right;
    position: absolute;
    top: 12px;
}

.ratingNum2 {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating-pos-1 {
    width: 24px;
    left: 12px;
}

.rating-pos-2 {
    left: 92px;
    text-align: left;
}

.rating-pos-3 {
    left: auto;
    right: 18px;
}

.ratingUserPic,.ratingUserPic2 {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    position: absolute;
    top: 12px;
    left: 52px;
    background: url(../images/profiles/test.png) no-repeat;
    background-position: center center;
    background-size: 24px 24px;
}

.winChance {
    position: absolute;
    top: 84px;
    left: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
}

.winChancePerc {
    position: absolute;
    top: 78px;
    right: 24px;
    height: 24px;
    font-family: 'Averta';
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    text-align: right;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 302px;
    height: 2px;
    border-radius: 2px;   
    background-color: transparent;
    outline: none;
    position: absolute;
    top: 119px;
    left: 24px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 12px; 
    box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
    background-color: #ffffff;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover, .slider::-webkit-slider-thumb:active {
    box-shadow: 0 12px 12px -4px rgba(20, 16, 41, 0.06), 0 4px 4px -1px rgba(20, 16, 41, 0.06), 0 1px 1px 0 rgba(20, 16, 41, 0.12);
}

.slider::-moz-focus-outer {
    border: 0;
}

.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 0px solid transparent;
    box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
    background-color: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb:hover, .slider::-moz-range-thumb:active  {
    box-shadow: 0 12px 12px -4px rgba(20, 16, 41, 0.06), 0 4px 4px -1px rgba(20, 16, 41, 0.06), 0 1px 1px 0 rgba(20, 16, 41, 0.12);
}

.slider::-moz-range-track {
    background-color: transparent;
}

.input-bet-div {
    position:absolute;
    top: 119px;
    left: 24px;
    height: 2px;
    border-radius: 2px;
    background-color: #ff8800;
}

.input-bet-div-2 {
    position:absolute;
    top: 119px;
    left: 24px;
    width: 302px;
    height: 2px;
    border-radius: 2px;
    background-color: rgba(255, 136, 0, 0.03);
}

.input-bet-div-3 {
    position:absolute;
    top: 112px;
    left: 24px;
    width: 16px;
    height: 16px;
    border-radius: 12px;
    display: none;
    box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
    background-color: #404055;
}

.input-div, .input-div-2 {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 302px;
    height: 36px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.02);
    cursor: pointer;
}

.input-div:hover {background-color: rgba(224, 224, 255, 0.04);}

.minus-but {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 17px;
}

.plus-but {left: auto;right: 1px;}

.minus {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: 7px;
    background: url(../images/minus.svg) no-repeat;
    background-position: center center;
    background-size: 20px 20px;
}

.plus {
    left: auto;
    right: 7px;
    background: url(../images/plus.svg) no-repeat;
}

.input-bet {
    width: 222px;
    height: 36px;
    border: 0px none transparent;
    background-color: transparent;
    position: absolute;
    outline:none;
    caret-color: #FFFFFF;
    color: #FFFFFF;
    left: 40px;
    font-family: 'Averta';
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    text-align: center;
}

.card-7 {
    width: 1110px;
    height: 444px;
    position: absolute;
    top: 440px;
    border-radius: 24px;
    box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
    background-color: #2a2a41;
}

.allPlaySelected {
    width: 106px;
    height: 36px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.02);
    font-size: 14px;
    font-weight: 500;
    line-height: 2.8;
    position: absolute;
    top: 20px;
    right: 135px;
    text-align: center;
    cursor: pointer;
}
.allPlaySelected:hover {background-color: rgba(224, 224, 255, 0.04);}

.allPlayUnSelected {background-color: transparent;}
.allPlayUnSelected:hover {background-color: rgba(255, 255, 255, 0.02);}

.onlyMePos {right: 24px;}

.headerDiv {
    position: absolute;
    top: 88px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    text-align: left;
    width: 1110px;
}

.pos {position:absolute;width:auto;height:24px;}
.headPos-1 {left:72px;}
.headPos-2 {left:170px;}
.headPos-3 {left:312px;}
.headPos-4 {left:405px;}
.headPos-5 {left:509px;}
.headPos-6 {left:648px;}
.headPos-7 {left:737px;}
.headPos-8 {left:873px;}

.ul-card-7 {
    width: 1062px;
    height: 288px;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    /*display: table;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;*/
    scrollbar-color: rgb(69, 76, 98) transparent !important;
    scrollbar-width: thin !important;
}

.li-card-7 {
    list-style-type: none;
    width: 1054px;
    height: 48px;
    border-radius: 12px;
    position:relative;
    cursor: pointer;
}
.li-card-7:hover:not(.thead) {background-color: rgba(255, 255, 255, 0.02);}

::-webkit-scrollbar{
    width:8px;
    height:8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(69, 76, 98);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-track{
    border-radius: 4px;
    border-width:0;
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}


.ghPos-1{left:12px;}
.ghPos-2{left:48px;}
.ghPos-3{left:146px;}
.ghPos-4{left:288px;}
.ghPos-5{left:381px;}
.ghPos-6{left:485px;}
.ghPos-7{left:624px;}
.ghPos-8{left:713px;}
.ghPos-9{left:849px;}
.ghPos-10{right:12px;top:12px;}

.colorTxt-1{color: rgba(255, 255, 255, 0.6);}
.colorTxt-2{color: #00ffaa;}
.colorTxt-3{color: #ff00aa;}
.colorTxt-4{color: rgba(255, 255, 255, 0.4);}
.colorTxt-5{color: rgba(224, 224, 255, 0.6);}
.colorTxt-6{color: rgba(255, 255, 255, 0.24);}
.colorTxt-7{color: #f55c45;}

.cube {
    width: 69px;
    height: 76px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.02);
    position: absolute;
    top: 24px;
    font-family: 'Averta';
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    border: none;
}

.cubeLeft-1 {left:24px;}
.cubeLeft-2 {left:101px;}
.cubeLeft-3 {left:179px;}
.cubeLeft-4 {left:256px;}

.cardMakeBet-3 {height: 444px;}

.txt-1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 1px;
    position: absolute;
}

.txt-122 {
    font-size: 13px;
    letter-spacing: 0;
}

.txt-top-1 {top:24px;}
.txt-top-2 {top:64px;}
.txt-top-3 {top:96px;}
.txt-top-4 {top:128px;}
.txt-top-5 {top:160px;}
.txt-top-6 {top:192px;}
.txt-top-7 {top:224px;}
.txt-top-8 {top:388px;line-height: 1.14;}
.txt-left-1 {left:24px;}
.txt-left-2 {left:175px;}
.txt-right-1 {right:58px;}
.txt-bold-500 {font-weight:500;letter-spacing: normal;}

.bet-pos-8 {top:372px;}
.bet-pos-8:hover {top:371px;}
.bet-pos-8:active {top:372px;}

.pos6 {right:34px;top:382px;}

.captcha {
    width: 302px;
    height: 76px;
    border-radius: 12px;
    position: absolute;
    top: 272px;
    background: url(../images/captcha.png) no-repeat;
    background-position: center center;
    background-size: 302px 76px;
}

.transform-arrow-270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.headerTxt {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -2px;
}

.depocard {
    width: 1110px;
    height: 216px;
    border-radius: 24px;
    box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
    background-color: #2a2a41;
    position: relative;
    margin-top: 20px;
}

.M-13-500-1-23 {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.23;
    position: absolute;
}

#withTxt{margin-left:583px;top:24px;}
.depoPos-1 {top:24px;left:40px;}
.depoPos-2 {top:24px;left:366px;}
.depoPos-3 {top:104px;left:40px;}
.depoPos-4 {bottom:24px;left:24px;width:176px;}
.depoPos-4:hover {bottom:25px;}
.depoPos-4:active {bottom:24px;}
.walTxtComm{width:503px;}
.commissionSpan{position:absolute;right:0px}

.depo_value {
    width: 302px;
    height: 48px;
    border-radius: 12px;
    border: 0px none transparent;
    background-color: rgba(255, 255, 255, 0.02);
    position: absolute;
    outline:none;
    caret-color: #FFFFFF;
    left: 24px;
    top: 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    padding-left: 16px;
    padding-right: 71px;
}

.recovery {
    position: absolute;
    top: 160px;
    left: 40px;
    width: 364px;
}

/*.depo_value:hover {background-color: rgba(224, 224, 255, 0.04);cursor:pointer;}*/
/*.depo_value:focus {*/
/*    border: solid 2px rgba(224, 224, 255, 0.06);*/
/*    background-color: rgba(224, 224, 255, 0.02);*/
/*    padding-left: 14px;*/
/*    padding-right: 69px;*/
/*    color: #ffffff;*/
/*    cursor:text;*/
/*}*/

.depo_value_fout {color: #ffffff;}

.textOnInput {
    position: absolute;
    top: 61px;
    right: 803px;
    cursor: pointer;
}
#btcOnInput{left:491px;}

.paySys {
    width: 134px;
    height: 48px;
    border-radius: 12px;
    background-color: rgba(224, 224, 255, 0.02);
    position: absolute;
    top: 48px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 3.1;
}
.paySys:hover{background-color: rgba(224, 224, 255, 0.04);}
.paySysSelected{background-color: rgba(255, 136, 0, 0.03);}
.paySysSelected:hover{background-color: rgba(255, 136, 0, 0.06);}

.psPos-1{right:624px;}
.psPos-2{left:70px;}
.psPos-3{right:474px;}
.psPos-4{right:324px;text-align:right;padding-right:24px;}
.psPos-5{right:174px;}
.psPos-6{right:24px;}

.psBack-1{
    width: 33px;
    height: 20px;
    background: url(../images/mcard.svg) no-repeat;
    background-position: center center;
    background-size: 33px 20px;
    position: absolute;
    top: 14px;
    left: 14px;
}

.psBack-2{
    width: 49px;
    height: 20px;
    background: url(../images/visa.svg) no-repeat;
    background-position: center center;
    background-size: 49px 20px;
    position: absolute;
    top: 14px;
    left: 70px;
}

.psBack-3{
    width: 104px;
    height: 23px;
    background: url(../images/yandex_money.svg) no-repeat;
    background-position: center center;
    background-size: 104px 23px;
    position: absolute;
    top: 12px;
    left: 16px;
}

.psBack-4{
    width: 24px;
    height: 24px;
    background: url(../images/btc-ico-white.svg) no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    position: absolute;
    top: 12px;
    left: 12px;
}
.bitPicOrange{background: url(../images/btc-ico-orange.svg) no-repeat;}

.psBack-5{
    width: 75px;
    height: 20px;
    background: url(../images/paypal.svg) no-repeat;
    background-position: center center;
    background-size: 75px 20px;
    position: absolute;
    top: 15px;
    left: 30px;
}

.psBack-6{
    width: 87px;
    height: 36px;
    background: url(../images/qiwi_logo.svg) no-repeat;
    background-position: center center;
    background-size: 87px 36px;
    position: absolute;
    top: 6px;
    left: 23px;
}

.referral{height:258px;top:440px;}
.top-190{top:190px;}
.primary{height:508px;}
.chgpswrd{height:436px;}
.averta{font-family:'Averta';}
.walBalPos{top:38px;left:80px;}

.M-16-500-1-75 {
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    position:absolute;
}

.refCntPos{top:23px;left:122px;}
.refTxtPos{top:76px;left:24px;width:302px;}
.refLinkTxtPos{top:162px;}
.ref_link{top:186px;text-overflow:ellipsis;white-space: pre;
    overflow: hidden;
    padding-top: 12px;}

.ref_pic {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 198px;
    right: 37px;
    background: url(../images/ref_pic.svg) no-repeat;
    background-position: center center;
    background-size: 24px 24px;
}

.left-40{left:40px;}
.userEmail{top:116px;padding-right:16px;}
.userEmail:focus{padding-right:16px;}
.userEmailTxtTop{top:92px;}
.userNameZ{top:204px;padding-right:16px;}
.userNameZ:focus{padding-right:16px;}
.userNameTxtTop{top:180px;}
.userPhone{top:292px;padding-right:16px;}
.userPhone:focus{padding-right:16px;}
.userPhoneTxtTop{top:268px;}
.primTxtPos{top:364px;left:64px;width:262px;cursor:pointer;}
.bottom-24{bottom:24px;}
.bottom-24:hover{bottom:25px;}
.bottom-24:active{bottom:24px;}

.checkPr {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: rgba(224, 224, 255, 0.02);
    position:absolute;
    top:364px;
    cursor:pointer;
}
.checkPrHover, .checkPr:hover{background-color: rgba(224, 224, 255, 0.04);}
.checkPrSelected {background-color: rgba(255, 136, 0, 0.03);}
.checkPrSelectedHover, .checkPrSelected:hover{background-color: rgba(255, 136, 0, 0.06);}

.checkPrPic {
    background: url(../images/checkbox.svg) no-repeat;
    background-position: center center;
    background-size: 24px 24px;
}
.ghHeadTablet,.elemHide{display:none;}

.slipCard{
    width: 350px;
    height: 42px;
    border-radius: 21px;
    box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
    background-color: #24243b;
    position:absolute;
    top:656px;
}

.leftSlip {
    width: 170px;
    height: 36px;
    background-color: transparent;
    position:absolute;
    top:3px;
    cursor:pointer;
    text-align:center;
}

.slipLeft-1{left:3px;}
.slipLeft-2{left:177px;}
.bradius-1{border-radius:18px;background-color: rgba(255, 255, 255, 0.02);}
.bradius-2{border-radius: 18px 0 0 18px;}
.bradius-3{border-radius: 0 18px 18px 0;}
.line-height-big{line-height:2.71;}
.animated{transition-property:left;transition-duration:1s;}
.animatedTxtColor{transition-property:color;transition-duration:1s;}
.disable-color{color:rgba(224, 224, 255, 0.24);}
.walletCard{height:180px;top:728px;}

.addWallet{
    width: 124px;
    height: 36px;
    border-radius: 12px;
    background-color: rgba(224, 224, 255, 0.02);
    position:absolute;
    top:20px;
    right:20px;
    cursor:pointer;
    padding-left:36px;
}
.addWallet:hover{background-color: rgba(224, 224, 255, 0.04);}
.addPos{left:8px;right:auto;}
.M-14-500-2-71{
    font-size: 14px;
    font-weight: 500;
    line-height: 2.71;
}

.ul-card-Wal {
    width: 1096px;
    height: 105px;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    /*display: table;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;*/
    position: absolute;
    top: 52px;
    scrollbar-color: rgb(69, 76, 98) transparent !important;
    scrollbar-width: thin !important;
}

.li-card-Wal {
    list-style-type: none;
    width: 517px;
    height: 80px;
    margin-left:24px;
    margin-top:24px;
    border-radius: 16px;
    position:relative;
    cursor: pointer;
    background-color: rgba(224, 224, 255, 0.02);
    display: inline-block;
}
.li-card-Wal:hover {background-color: rgba(224, 224, 255, 0.04);}

.walCircle{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: rgba(255, 136, 0, 0.03);
    position:absolute;
    top:16px;
    left:16px;
}

.walletSet{
    background: url(../images/wallet-set.svg) no-repeat;
    top:28px;
    left:auto;
    right:80px;
    background-position: center center;
    background-size: 24px 24px;
}

.walletDel{
    background: url(../images/wallet-del.svg) no-repeat;
    top:28px;
    left:auto;
    right:28px;
}

.card-8{
    width: 255px;
    min-width: 255px;
    height: 184px;
    border-radius: 24px;
    box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
    background-color: #2a2a41;
    position: relative;
    top: 0px;
    display: table-cell;
}

.withdrawInput{width:519px;}

.withdrawSelectWallet{
    width: 519px;
    height: 48px;
    border-radius: 12px;
    position:absolute;
    top:48px;
    left:567px;
    cursor:pointer;
}
.withdrawSelectWallet:hover{background-color: rgba(224, 224, 255, 0.04);}
.paddingWal{padding-left:16px;padding-top:12px;}
.walMenuString{width:519px;}

.M-16-500-1-5{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
.M-16-400-24{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.withdrawCardMenu{
    width: 519px;
    border-radius: 12px;
    box-shadow: 0 16px 16px -4px rgba(32, 32, 54, 0.06), 0 4px 8px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
    background-color: #2a2a41;
    position:absolute;
    top:48px;
    left:567px;
    cursor:pointer;
}

.popup-fade:before{
    content:'';
    background:#000;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0.7;
    z-index:9999;
}

.loginDiv{
    position:fixed;
    top:38px;
    left:calc(50% + -600px + 382px);
    width:445px;
    height:370px;
    border-radius:24px;
    background-color: rgb(42,42,65);
    box-shadow: 0px 32px 32px -4px rgba(20,16,41,0.06), 0px 64px 96px 0px rgba(20,16,41,0.12), 0px 8px 16px -1px rgba(20,16,41,0.06), 0px 0px 1px 0px rgba(20,16,41,0.12);
    opacity:1;
    z-index:9999;
}

.loginDiv2 {
    height: 510px;
}

.loginDiv_addadress {
    height:300px;
    top:200px;
}

.h144 {
    top: 96px;
}

.arrwrw {
    left: auto; right: 12px;
}

.eee {
    background: rgba(224, 224, 255, 0.04);
}

.forgotPass{top:172px;height: 296px;}

.closePic{
    position:absolute;
    top:40px;
    left:381px;
    width:24px;
    height:24px;
    cursor:pointer;
    background: url(../images/closePic.svg) no-repeat;
    background-position: center center;
    background-size: 24px 24px;
}

.signUp{
    position:absolute;
    top:40px;
}

.M-24-500-24{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}
.M-14-400-24{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.M-14-400-16{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.signInEmail{top:86px;}
.signInPass{top:156px;}
.passSMS{top:320px;}
.signUpPass{top:106px;}
.signUpCPass{top:127px;}

.signUpTxtArea{
    width: 365px;
    padding-right:0;
}

.SignInTxt{
    position:absolute;
    top:256px;
    width: 365px;
}

.getNewPass{
    position:absolute;
    top:232px;
    text-decoration: underline;
    cursor: pointer;
}

.signInBtnPos {bottom:40px;}
.signInBtnPos:hover {bottom:41px;}
.signInBtnPos:active {bottom:40px;}

.socialLogin{
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background: rgba(255,255,255,0.02);
    position:absolute;
}

.vk{
    width: 20px;
    height: 20px;
    background: url(../images/vk.svg) no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    position:absolute;
    top: 14px;
    left: 14px;
}

.fbigPos{position:absolute;top:12px;left:12px;}

.fbook{
    width: 24px;
    height: 24px;
    background: url(../images/fbook.svg) no-repeat;
    background-position: center center;
    background-size: 24px 24px;
}

.igram{
    width: 24px;
    height: 24px;
    background: url(../images/igram.svg) no-repeat;
    background-position: center center;
    background-size: 24px 24px;
}

.logLeft-1{left:357px;}
.logLeft-2{left:285px;}
.logLeft-3{left:213px;}
.top-384{top:342px;}
.top-369{top:369px;}
.top-109{top:109px;}
.posAbs{position:absolute;}
.left-80{left:80px;}
.width-325{width:325px;}
.forgotTxtPos{position:absolute;left:238px;top:220px;}
.forgotSignIn:hover{color:#ffffff;}
.confirmEmail{height:306px;}
.newAvaPopup{height:573px;}
.showWinnerPopup{
    height:335px;
    padding: 95px 40px 40px 40px;
}
.showWinnerPopup__date {
    font-size: 13px;
    margin-left: 20px;
}
.betInfo{width:365px;top:84px;}
.top-30{top:30px;}
.gameDiv{height:728px;}

.winner {

}
.winner__title {
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.winner__ava {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.winner__ava img {
    margin-right: 10px;
}
.winner__value {
    color: #ff8800;
    font-weight: bold;
    font-size: 22px;
}
.confirmPic{
    position:absolute;
    top:88px;
    width: 351px;
    height: 272px;
    background: url(../images/confirm-email.svg) no-repeat;
    background-position: center center;
    background-size: 351px 272px;
}

.M-20-500-1-2{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.gameIdPopup{top:41px;left:138px;}
.left-136{left:136px;}
.left-138{left:138px;}
.left-148{left:148px;}
.left-235{left:235px;}
.left-323{left:323px;}
.top-120{top:120px;}
.top-152{top:152px;}
.top-200{top:200px;}
.width-82{width:82px;}

a#fgameLink{
    color:rgba(255,255,255,0.6);
    font-size: 12px;
}
a#fgameLink:hover{color:#ffffff;}

.playersPopup{
    width: 84px;
    height: 80px;
    background: rgba(245, 92, 69, 0.03);
}

.ulPopup {
    width: 375px;
    height: 480px;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 210px;
	scrollbar-color: rgb(69, 76, 98) transparent !important;
    scrollbar-width: thin !important;
}

.liPopup {
    list-style-type: none;
    margin-top:16px;
    width: 365px;
    height: 80px;
    border-radius: 12px;
    background: rgba(255,255,255,0.02);
    position:relative;
}

.liPopupFirst{background: rgba(255, 255, 255, 0.04);}
.userRank{top:28px;left:24px;width:24px;height:24px;text-align:center;}
.winPopupTop{top:16px;}
.popupWinChance{left:auto;right:24px;text-align:right;}

.popupWinDiv{
    top:-12px;
    left:260px;
    padding: 1px 3px;
    height: 24px;
    border-radius: 12px;
    background: linear-gradient(90deg, #FF8800, #F55C45, #E12D81);
    text-align:center;
    line-height:24px;
}

.cardGame {
    top: 190px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.mobileMenuString {
    display: block;
    position:relative;
    width:100%;
    height:80px;
    text-align:center;
    line-height:80px;
}

.mobileDice{display:none;}

.showStatButton{
	width: 328px;
	height: 48px;
	border-radius: 24px;
	background-color: rgba(255, 255, 255, 0.02);
	display:none;
	line-height: 50px;
	text-align:center;
}
.showStatButton:hover{background-color: rgba(224, 224, 255, 0.04);}
.topValveGame{top:268px}

.card3top2{top:190px}
.card3top3{top:268px}
.footerTop2{top:822px}
.footerTop3{top:1032px}
.footerTop4{top:860px}
.footerTop5{top:1270px}
.footerTop6{top:calc(100vh - 72px - 56px)}
.cardMakeBet2top{top:190px}
.left-390{}

@media screen and (max-width:991px){
    .SignUpIn {
        right: 60px;
    }
}

@media screen and (max-width:768px){
    .SignUpIn {
        top: 11px;
        right: 40px;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
	body {
        width: 100%;
        min-width: 100%;
        /*min-height: 1440px;*/
    }
    
    .widthMini{width:730px;}
    .Rectangle,.main-frame{left:calc(50% + -365px);}
    
    .shitClass{position:absolute;width:730px;height:56px;left:0px;}
    
    .forScroll {
        width: 730px;
        height: 168px;
        overflow-x: scroll;
        overflow-y: hidden;
		scrollbar-color: rgb(69, 76, 98) transparent !important;
		scrollbar-width: thin !important;
    }
    
    .forScrollEX{height:201px;top:1216px;}
    
    .left3,.Dice {left: 0px;}
    .headerDiv,.playMenu{display:none;}
    .ratingMenu {display:none;}
    .playMenuOpen{display:none;}
    .btcCur{left:87px;}
    .youCnt {left:280px;}
    .languageDiv{left:522px;}
    .userMenu{left:auto;
        right: 60px;}
    .countdown-div-2{width:100%;}
    .card-3 {height: 144px;}
    .button-1 {top:48px;left:473px;}
    .button-1EX{left:551px;}
    .logoutBut{top:48px;right:auto;left:634px;}
    .gameCardTop,.card-3-1{top:442px;}
    .left3-1{left:0px;}
    .left5-1{left:380px;}
    .card-4{top:692px;}
    .card-5{top:868px;height:360px;}
    .ul-card-4{overflow-x:scroll;overflow-y:hidden;}
    .li-card-4{min-width:96px;width:96px;}.tabletStyleWal
    .ul-card-4-1{overflow-x:hidden;overflow-y:scroll;height:344px;}
    .li-card-5{width:353px;}
    .li-pic-pos-1{left:24px;}
    .li-user-perc,.li-user-name{width:96px;}
    .left5slip{left:0px;top:1118px;}
    .cardName {
        margin-top: 20px;
    }
    .cardGame {
        top: 364px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: transparent;
        -webkit-box-shadow: none; 
        -moz-box-shadow: none; 
        box-shadow: none; 
    }

    ::-webkit-scrollbar-thumb:hover{
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    
    .footer{top:1312px;left:calc(50% + -365px);}
    .f-pos2{left:143px;}
    .f-pos3{left:255px;}
    .f-pos4{left:396px;}
    .gameCardTop-2{top:364px;}
    
    .mobileDice{
        display:inline;
        left:auto;
        right:0px;
    }
    
    .card-7 {
        width: 730px;
        height: 876px;
        top: 614px;
    }
    
    .ul-card-7{
        width: 100%;
        height: 816px;
        padding-left: 24px;
        padding-right: 16px;
        /*display: table;
        overflow: auto;
        overflow-y: hidden;
        white-space: nowrap;*/
        top: 48px;
        left: 0px;
    }
    
    .li-card-7 {
        width: 338px;
        height: 232px;
        border-radius: 0;
        display: inline-block;
        margin-top:24px;
        margin-bottom:12px;
    }
    
    .ratingUserPic {top: 0px;left: 0px;}
    .ratingNum {top:0px;text-align:left;}
    .ghPos-2{left:40px}
    .ghPos-3{left:120px;}
    .ghPos-4{left:120px;}
    .ghPos-5{left:120px;}
    .ghPos-6{left:120px;}
    .ghPos-7{left:120px;}
    .ghPos-8{left:120px;}
    .ghPos-9{left:120px;}
    .ghPos-10{top:0px;right:48px;}
    .ghHeadTablet{display:block;}
	.ghHeadTabletTop1{top:40px;}
	.ghHeadTabletTop2{top:68px;}
	.ghHeadTabletTop3{top:96px;}
	.ghHeadTabletTop4{top:124px;}
	.ghHeadTabletTop5{top:152px;}
	.ghHeadTabletTop6{top:180px;}
	.ghHeadTabletTop7{top:208px;}
    .left5r{left:0px;top:704px;}
    .left-390{left:390px;}
    .primary{top:364px;left:380px;}
    .referral{top:364px;}
    .chgpswrd{left:0px;top:652px;}
    .slipCard {height: 68px;border-radius: 34px;}
    .leftSlip{height: 62px;border-radius: 31px;}
    .line-height-big{line-height:62px;}
    .walletCard{width: 350px;height: 284px;top:902px;left:380px;}
    .depocard {width: 730px;height: 312px;}
    .paySys {width: 124px;top: 168px;}
    .tabletWidth{width:682px;}
    .depoPos-2{top:144px;left:40px;}
    .textOnInput{right: 40px;}
    .psPos-1{left:24px;}
    .psPos-3{left:163px;}
    .psPos-4{left:303px;}
    .psPos-5{left:442px;}
    .psPos-6{left:582px;}
    .psBack-2{left:65px;}
    .psBack-3{left:10px;}
    .psBack-4{left:12px;}
    .psBack-5{left:25px;}
    .psBack-6{left:18px;}
    .withdrawSelectWallet{width:682px;top:168px;left:24px;}
    #withTxt{top:144px;margin-left:0px;left:40px;}
    .walletSet{right:76px;left:auto;}
    .walletDel{right:24px;left:auto;}
    
    .withdrawCardMenu{
        width: 682px;
        top:168px;
        left:24px;
        z-index:8000;
    }
    .walMenuString{width:682px;}
    .walTxtComm{width:666px;}
    #btcOnInput{left:654px;}
	
	.card3top2{top:190px}
	.card3top3{top:268px}
	.footerTop2{top:1272px}
	.footerTop3{top:1574px}
	.footerTop4{top:970px}
	.footerTop5{top:1472px}
	.footerTop6{top:calc(100vh - 72px - 56px)}
	.cardMakeBet2top{top:364px}
}

@media screen and (min-width:576px) and (max-width:767px){
    body {
        width: 100%;
        min-width: 100%;
        /*min-height: 1842px;*/
    }
    
    .widthMini{width:540px;}
    .main-frame{left:calc(50% + -270px);}
    .Rectangle{left:calc(50% + -270px);height:48px;}
    .Dice {left: 0px;}
	.DiceEX{
		top:8px;
		width: 32px;
		height: 32px;
		border-radius:16px;
		font-size: 18px;
		line-height: 32px;
		letter-spacing: -0.5px;
	}
	.mobileDice{
        display:inline;
        left:auto;
        right:-16px;
		top:0px;
		background:transparent;
    }
    .userMenu{left:auto;
        right: 60px;}
	.languageDiv,.youCnt,.btcCur,.ratingMenu,.headerDiv,.playMenu{display:none;}
	.footer{left:calc(50% + -270px);top:1698px;height:96px;}
    .shitClass{position:absolute;width:540px;height:56px;left:0px;}
    
    .forScroll {
        width: 540px;
        height: 168px;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-color: rgb(69, 76, 98) transparent !important;
		scrollbar-width: thin !important;
    }
    
    .forScrollEX{height:201px;top:1216px;}
	.openMenu,.card-2{top:176px;width:262px;}
	.firstLane{width:262px;}
	.left2-1{left:278px;}
	.countdown-div{top:240px;left:0px;
        width: 100%;}
	.countdown-div-2{top:176px;}
	.card-3{top:304px;height:144px;}
	.card-3-1{top:464px;left:0px;height:128px;width:540px;}
	.left3,.left5-1,.left3-1,.left5slip{left:0px;}
	.gameCardTop{top:608px;}
	.card-4{top:752px;}
	.card-5{top:914px;height:712px;}
	.button-1{top:48px;left:307px;}
	.logoutBut{top:48px;right:48px;}
	.bet-pos-7{bottom:24px;left:375px;}
	.bet-pos-7:hover {bottom:25px;top:auto;}
	.bet-pos-7:active {bottom:24px;top:auto;}
	.newText{top:108px;}
	.btcTxt{left:375px;top:34px;}
	.inf-pos-1{top:24px;left:492px;}
	.fgameId{width:60px;overflow:hidden;text-overflow:ellipsis;}
	.inf-pos-2{top:26px;left:174px;}
	.jack-div{top:24px;left:214px;}
	.slots-div{top:24px;left:409px;}
	.ul-card-4{overflow-x:scroll;overflow-y:hidden;}
	.li-card-4{min-width:96px;width:96px;}
	.ul-card-4-1{overflow-x:hidden;overflow-y:scroll;height:696px;}
	.li-card-5{width:524px;}
	.f-pos3{left:auto;right:0px;}
	.f-pos4{top:56px;left:0px;}
	.f-pos1{top:56px;}
	#cardMakeBet-2{height:156px;}
	.card-7{top:652px;width:540px;height:844px;}
	.gameCardTop-2{top:508px;}
	
	.ul-card-7{
        width: 100%;
        height: 772px;
        padding-left: 24px;
        padding-right: 16px;
        top: 48px;
        left: 0px;
    }
    
    .li-card-7 {
        width: 244px;
        height: 232px;
        border-radius: 0;
        display: inline-block;
        margin-top:24px;
    }
    
	/*.depo_value{width:492px;}*/
    .ratingUserPic {top: 0px;left: 0px;}
    .ratingNum {top:0px;text-align:left;}
    .ghPos-2{left:40px}
    .ghPos-3{left:120px;}
    .ghPos-4{left:120px;}
    .ghPos-5{left:120px;}
    .ghPos-6{left:120px;}
    .ghPos-7{left:120px;}
    .ghPos-8{left:120px;}
    .ghPos-9{left:120px;width:121px;overflow:hidden;text-overflow:ellipsis;}
    .ghPos-10{top:0px;right:0px;}
    .ghHeadTablet{display:block;}
	.ghHeadTabletTop1{top:40px;}
	.ghHeadTabletTop2{top:68px;}
	.ghHeadTabletTop3{top:96px;}
	.ghHeadTabletTop4{top:124px;}
	.ghHeadTabletTop5{top:152px;}
	.ghHeadTabletTop6{top:180px;}
	.ghHeadTabletTop7{top:208px;}
	.positionAdd{top:30px;}
	.winChancePerc{right:214px;}
	.cardMakeBet-3{height:272px;top:400px;}
	.topValveGame{top:688px;}
	.txt-left-2{left:142px;}
	.captcha{left:287px;top:24px;width:229px;background-size: 229px 76px;}
	.bet-pos-8{left:287px;top:200px;width:110px;}
	.bet-pos-8:hover{top:199px;}
	.bet-pos-8:active{top:199px;}
	.txt-top-8{top:216px;}
	.pos6{top:212px;}
	.cube{width:56px;height:80px;}
    .cubeLeft-2{left:88px;}
    .cubeLeft-3{left:152px;}
    .cubeLeft-4{left:216px;}
	.jack-div-2{width:228px;left:288px;}
	.card-6{width:540px;top:176px;}
	.left3r{left:0px;top:676px;}
	.left5r{left:0px;top:1176px;}
	.left2{left: 16px;}
	.left3-2{left: 32px;}
	.left4-2{left: 48px;}
	.left5-2{left: 64px;}
	.left6-2{left: 80px;}
	.li-card-6{width:536px;}
	.referral{top:336px;height:220px;}
	.primary{top:572px;height:348px}
	.chgpswrd{top:936px;height:276px}
	.walletCard{top:1228px;height:284px}
	.slipCard{top:1528px;height:48px;width:540px;}
    .leftSlip{width:265px;height:42px;line-height:42px;}
    .slipLeft-2{left:272px;}
	.forScrollEX{top:1592px;}
	.button-1EX{top:80px;left:393px}
    .left-390{left:393px;top:16px;}
    .refTxtPos{width:466px;}
    .refLinkTxtPos{top:124px;}
    .ref_link{top:148px;width:492px;}
    .ref_pic{top:160px;}
    .userEmail{width:238px;}
    .userNameTxtTop{top:92px;left:294px;}
    .userNameZ{top:116px;width:238px;left:278px;}
    .userPhoneTxtTop{top:180px;}
    .userPhone{top:204px;width:238px;}
    .pos576{top:204px;left:278px;}
    .pos576-2{top:204px;left:318px;width:198px;}
    .bottom-24{left:auto;right:24px;}
    .depocard{width:540px;height:376px;}
    .depoPos-2{top:144px;left:40px;}
    .textOnInput{right:40px;}
    .paySys{width:153px;}
    .psPos-1{top:168px;right:363px;}
    .psPos-3{top:168px;right:193px;}
    .psPos-4{top:168px;right:24px;padding-right:34px;}
    .psPos-5{top:232px;right:363px;}
    .psPos-6{top:232px;right:193px;}
    .psBack-1,.psBack-3,.psBack-4{left:24px;}
    .psBack-5{left:39px;}
    .psBack-6{left:33px;}
    .psBack-2{left:80px;}
    #btcOnInput{left:auto;}
    .walTxtComm{width:476px;}
    #withTxt{left:40px;margin-left:0px;top:144px;}
    .withdrawCardMenu,.withdrawSelectWallet{top:168px;left:24px;width:492px;}
    .walMenuString{width:492px;}
    .top-200{top:200px}
    .left-40{left:40px}
    .left-323{left:323px}
    .walletDel,.walletSet{left:auto}
	.bitPicOrange{left:12px}
	
	::-webkit-scrollbar-thumb{
        background-color: transparent;
        -webkit-box-shadow: none; 
        -moz-box-shadow: none; 
        box-shadow: none; 
    }

    ::-webkit-scrollbar-thumb:hover{
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
	
	.card3top2{top:176px}
	.card3top3{top:240px;}
	.footerTop2{top:1768px}
	.footerTop3{top:1580px}
	.footerTop4{top:900px}
	.footerTop5{top:1864px}
	.footerTop6{top:550px}
	.cardMakeBet2top{top:336px}

    .userMenu {
        top: 8px;
        right: 36px;
    }
    .header .userPhoto {
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
    }
    .pos4 {
        left: 44px!important;
    }
    .logoutPic {
        top: 4px;
    }
}

@media screen and (min-width:280px) and (max-width:575px){
	body {
        width: 100%;
        min-width: 100%;
        /*min-height: 2116px;*/
    }
    
	.widthMini{width:328px;}
    .main-frame{left:calc(50% + -164px);top:0px;}
	.Rectangle{left:calc(50% + -164px);top:0px;height:48px;}
    .Dice {left: 0px;}
	.DiceEX{
		top:8px;
		width: 32px;
		height: 32px;
		border-radius:16px;
		font-size: 18px;
		line-height: 32px;
		letter-spacing: -0.5px;
	}
	.mobileDice{
        display:inline;
        left:auto;
        right:-16px;
		top:0px;
		background:transparent;
    }
    .userMenu{left:auto;
        right: 60px;}
	.forScrollMobile,.languageDiv,.youCnt,.btcCur,.ratingMenu,.headerDiv,.playMenu{display:none;}
	.footer{left:calc(50% + -164px);top:1932px;height:136px;}
    .shitClass{position:absolute;width:328px;height:56px;left:0px;}
    
    .forScroll {
        width: 328px;
        height: 168px;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-color: rgb(69, 76, 98) transparent !important;
		scrollbar-width: thin !important;
    }
	
	.showStatButton{
		display:block;
	}
	
	.card-3{height:216px;}
	.card-3-1{top:490px;width:328px;height:244px;}
	.gameCardTop{top:750px;height:220px;}
	.left3,.left5-1,.left3-1,.left5slip{left:0px;}
	.card-3{top:258px;}
	.card-2{top:64px;width:328px;}
	.left2-1{left:0px;width:328px;top:128px;}
	.countdown-div{left:0px;top:192px;
        width: 100%;}
	.openMenu{top:64px;width:328px;}
	.openMenuType{top:128px;}
	.firstLane{width:328px;}
	.card-4{top:986px;}
	.card-5{top:1148px;height:712px;}
	.inf-pos-1{left:268px;top:184px;}
	.btcTxt{left:204px;}
	#jack-value{width:73px;overflow:hidden;}
	.ul-card-4{overflow-x:scroll;overflow-y:hidden;}
	.li-card-4{min-width:96px;width:96px;}
	.ul-card-4-1{overflow-x:hidden;overflow-y:scroll;height:696px;}
	.li-card-5{width:312px;}
	.slots-div{width:5px;}
	.fgameId{overflow:hidden;width:184px;text-overflow:ellipsis;left:114px;}
	.bet{width:136px;}
	.bet-pos-2{left:168px;}
	.bet-pos-3{top: 68px;left: 24px;}
	.bet-pos-4{left:168px;}
	.bet-pos-5{top: 112px;left: 24px;}
	.bet-pos-6{top: 112px;left: 168px;}
	.newText{top:152px;}
	.f-pos3{left:0px;top:56px;text-align:left;}
	.f-pos4{left:auto;right:0px;top:56px;text-align:right;}
	.f-pos1{top:96px;}
	.f-pos2{text-align:right;left:auto;right:0px;}
	.gameCardTop-2{top:532px;}
	.ghHeadTablet{display:block;}
	#cardMakeBet-2{height:220px;}
	
	.card-7 {
        width: 328px;
        height: 932px;
        top: 768px;
    }
	
	.ul-card-7{
        width: 100%;
        height: 810px;
        padding-left: 24px;
        padding-right: 16px;
        /*display: table;
        overflow: auto;
        overflow-y: hidden;
        white-space: nowrap;*/
        top: 110px;
        left: 0px;
    }


    .userMenu {
        top: 8px;
        right: 36px;
    }
    .header .userPhoto {
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
    }
    .pos4 {
        left: 44px!important;
    }
    .logoutPic {
        top: 4px;
    }
	
	.li-card-7 {
        width: 100%;
        height: 232px;
        border-radius: 0;
        display: inline-block;
        margin-top:24px;
        margin-bottom:12px;
    }
	
	.ratingUserPic {top: 0px;left: 0px;}
    .ratingNum {top:0px;text-align:left;}
    .ghPos-2{left:40px}
    .ghPos-3,.ghPos-4,.ghPos-5,.ghPos-6,.ghPos-7,.ghPos-8,.ghPos-9{left:120px;}
    .ghPos-10{top:0px;right:48px;}
	.ghHeadTabletTop1{top:40px;}
	.ghHeadTabletTop2{top:68px;}
	.ghHeadTabletTop3{top:96px;}
	.ghHeadTabletTop4{top:124px;}
	.ghHeadTabletTop5{top:152px;}
	.ghHeadTabletTop6{top:180px;}
	.ghHeadTabletTop7{top:208px;}
	.allPlaySelected{width:135px;right:auto;left:24px;top:72px;}
	.onlyMePos{right:24px;left:auto;}
	.input-div{width:280px;}
	.input-bet{width:200px;}
	.slider{width:280px;}
	.input-bet-div-2{width:280px;}
	.positionAdd{top:auto;bottom:36px;}
	#valve{top:64px;}
    .cardMakeBet-3{height:444px;top:360px;}
    .topValveGame{top:820px;}
    .cube {width: 63px;}
    .cubeLeft-2 {left:95px;}
    .cubeLeft-3 {left:168px;}
    .cubeLeft-4 {left:240px;}
    .depo_value,.refTxtPos,.jack-div-2{width:280px;}
    .captcha{width:280px;background-size: 280px 76px;}
    .card-6 {width: 328px;top: 64px;}
    .left3r{left:0px;top:564px;}
    .left5r{left:0px;top:1064px;}
    .ul-card-6,.li-card-6{width:324px;}
    .button-1EX{left:161px;}
    .referral{top:298px;}
    .primary{top:558px;height:508px;}
    .forScrollEX{height:201px;top:1898px;}
    .walletCard{height:284px;top:1598px;}
    .chgpswrd{height:436px;top:1082px;left:0px;}
    .slipCard{top:1534px;width:328px;height:48px;}
    .leftSlip{width:159px;height:42px;}
    .slipLeft-2{left:166px;}
    .line-height-big{line-height:42px;}
    .tabletStyleWal{width:106px;}
    .walletSet{right:56px;left:auto;}
    .walletDel{right:16px;left:auto;}
    .headerTxt {font-size:36px;letter-spacing:-1px;}
    .depocard{top:76px;width:328px;height:424px;}
    .depoPos-2{top:144px;left:40px;}
    .paySys{width:136px;}
    .psPos-1{right:0px;left:24px;top:168px;}
    .psPos-3{right:24px;top:168px;}
    .psPos-4{right:0px;left:24px;top:224px;}
    .psPos-5{right:24px;top:224px;}
    .psPos-6{right:24px;top:280px;width:280px;}
    .psBack-6{left:96px;}
    .walTxtComm{width:280px;}
    .commissionSpan{right:auto;left:0px;top:24px;}
    #btcOnInput{left:252px;}
    #withTxt {margin-left:40px;top:168px;}
    .withdrawSelectWallet{width:280px;top:192px;left:24px;}
    .withdrawSelectWalletTxt{width:210px;overflow:hidden;text-overflow:ellipsis;}
    .walMenuString{width:280px;padding-right:54px;overflow:hidden;text-overflow:ellipsis;}
    
    .withdrawCardMenu{
        width:280px;
        top:192px;
        left:24px;
        z-index:8000;
    }

	::-webkit-scrollbar-thumb{
        background-color: transparent;
        -webkit-box-shadow: none; 
        -moz-box-shadow: none; 
        box-shadow: none; 
    }

    ::-webkit-scrollbar-thumb:hover{
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
	
	.left-390{}
	.card3top2{top:64px}
	.card3top3{top:128px;}
	.footerTop2{top:1620px}
	.footerTop3{top:1772px}
	.footerTop4{top:1114px}
	.footerTop5{top:2154px}
	.footerTop6{top:581px}
	.cardMakeBet2top{top:296px}
}

.usersGame {
    position: relative;
    padding-top: 8px;
}

.avatars {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 80px 20px 60px 20px;
}

.ava {
    width: 100px;
    padding: 17px 20px;
    cursor: pointer;
}

.ava:hover {
    border: 1px solid #2a2a41;
    background: #26263d;
    border-radius: 20px;
}

.eyeOpen{
    background-image: url(/images/eyeopen.svg);
    background-size: 25px;
    width: 25px;
    height: 25px;
    float: right;
    position: absolute;
    z-index: 2;
    top: 12px;
    right: 10px;
}
.eyeClosed{
    background-image: url(/images/eyeclosed.svg);
    background-size: 25px;
    width: 25px;
    height: 25px;
    float: right;
    position: absolute;
    z-index: 2;
    top: 12px;
    right: 10px;
}