.number:nth-child(1) {
    transform: rotateZ(9.72972973deg);
  }
  .number:nth-child(2) {
    transform: rotateZ(19.45945946deg);
  }
  .number:nth-child(3) {
    transform: rotateZ(29.18918919deg);
  }
  .number:nth-child(4) {
    transform: rotateZ(38.91891892deg);
  }
  .number:nth-child(5) {
    transform: rotateZ(48.64864865deg);
  }
  .number:nth-child(6) {
    transform: rotateZ(58.37837838deg);
  }
  .number:nth-child(7) {
    transform: rotateZ(68.10810811deg);
  }
  .number:nth-child(8) {
    transform: rotateZ(77.83783784deg);
  }
  .number:nth-child(9) {
    transform: rotateZ(87.56756757deg);
  }
  .number:nth-child(10) {
    transform: rotateZ(97.2972973deg);
  }
  .number:nth-child(11) {
    transform: rotateZ(107.02702703deg);
  }
  .number:nth-child(12) {
    transform: rotateZ(116.75675676deg);
  }
  .number:nth-child(13) {
    transform: rotateZ(126.48648649deg);
  }
  .number:nth-child(14) {
    transform: rotateZ(136.21621622deg);
  }
  .number:nth-child(15) {
    transform: rotateZ(145.94594595deg);
  }
  .number:nth-child(16) {
    transform: rotateZ(155.67567568deg);
  }
  .number:nth-child(17) {
    transform: rotateZ(165.40540541deg);
  }
  .number:nth-child(18) {
    transform: rotateZ(175.13513514deg);
  }
  .number:nth-child(19) {
    transform: rotateZ(184.86486486deg);
  }
  .number:nth-child(20) {
    transform: rotateZ(194.59459459deg);
  }
  .number:nth-child(21) {
    transform: rotateZ(204.32432432deg);
  }
  .number:nth-child(22) {
    transform: rotateZ(214.05405405deg);
  }
  .number:nth-child(23) {
    transform: rotateZ(223.78378378deg);
  }
  .number:nth-child(24) {
    transform: rotateZ(233.51351351deg);
  }
  .number:nth-child(25) {
    transform: rotateZ(243.24324324deg);
  }
  .number:nth-child(26) {
    transform: rotateZ(252.97297297deg);
  }
  .number:nth-child(27) {
    transform: rotateZ(262.7027027deg);
  }
  .number:nth-child(28) {
    transform: rotateZ(272.43243243deg);
  }
  .number:nth-child(29) {
    transform: rotateZ(282.16216216deg);
  }
  .number:nth-child(30) {
    transform: rotateZ(291.89189189deg);
  }
  .number:nth-child(31) {
    transform: rotateZ(301.62162162deg);
  }
  .number:nth-child(32) {
    transform: rotateZ(311.35135135deg);
  }
  .number:nth-child(33) {
    transform: rotateZ(321.08108108deg);
  }
  .number:nth-child(34) {
    transform: rotateZ(330.81081081deg);
  }
  .number:nth-child(35) {
    transform: rotateZ(340.54054054deg);
  }
  .number:nth-child(36) {
    transform: rotateZ(350.27027027deg);
  }
  .btcAnimatedLogo{
    height: 64px;
    width: 100px;
  }
.btcLogoWheel{
  width: 46px;
  height: 46px;
  position: relative;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/46/Bitcoin.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 999;
  top: 14px;
  left: 24px;
}
  .plate {
    top: 0px;
position: absolute;
    font-family: 'Roboto', sans-serif;    
    background-color: gray;
    width: 70px; /*250px;*/
    height: 70px; /*250px;*/
    margin: 12px;
    border-radius: 50%;
    /*position: relative;*/
    -webkit-animation: rotate 24s infinite linear;
            animation: rotate 24s infinite linear;
  }
  .plate:after,
  .plate:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
  }
  .plate:after {
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border: 2px solid gold;
    box-shadow: inset 0px 0px 0px 2px #b39700, 0px 0px 0px 2px #ffeb80;
  }
  .plate:before {
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid silver;
    box-shadow: inset 0px 0px 0px 2px #808080;
    top: 12%;
    left: 12%;
    right: 12%;
    bottom: 12%;
    z-index: 1;
  }
  .number {
    width: 1px;
    height: 5px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 0;
    left: calc(50% - (32px/8));
    transform-origin: 50% 100%;
    background-color: transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 36px solid black;
        border-top-color: black;
    box-sizing: border-box;
  }
  .number:nth-child(odd) {
    border-top-color: red;
  }
  .number:nth-child(37) {
    border-top-color: green;
  }
  @-webkit-keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  @keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }