body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

.dn {
	display: none;
}

.ml62 {
	margin-left: 62px;
}

.c-orange {
	color: #ff8800 !important;
}

.ml56 {
	margin-left: 56px;
}

.pa {
	position: absolute;
}

.unit3321 {
	top: 5px;
	margin-left: 3px;
}

.unit23 {
	top: 25px;
	margin-left: 3px;
}

.ml24 {
	margin-left: 24px;
}

.links-co {
	color: #1bffff;
	text-decoration: underline;
}

.cr-p {
	cursor: pointer;
}

.cardName {
	position: relative;
	top: 0;
	margin-top: 30px;
}

.stats {
	position: relative;
	overflow-x: auto;
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0;
}

.footer-link {
	color: rgba(255, 255, 255, 0.6) !important;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.71;
}

.color-white {
	color: #fff;
}

.content {
	margin: 0 auto;
	max-width: 1110px;
}

.dropdown-card {
	position: relative;
	width: 160px;
	height: 48px;
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.02);
	cursor: pointer;
}

.card-row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 30px 0;
	position: relative;
}

.countdown-div {
	position: relative;
	top: inherit;
	left: inherit;
}

.card {
	position: relative;
	width: 350px;
	height: 220px;
	border-radius: 24px;
	box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
	background-color: #2a2a41;
}

.card-block {
	padding: 30px;
	position: relative;
	border-radius: 24px;
	box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
	background-color: #2a2a41;
}

.card-full {
	width: 100%;
	padding: 30px;
	position: relative;
	border-radius: 24px;
	box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
	background-color: #2a2a41;
}

.refill-title {
	color: rgba(255, 255, 255, 0.4);
	font-size: 13px;
	font-weight: 500;
	line-height: 1.23;
	margin-bottom: 10px;
}

.percent-k {
	color: #e12d81;
	font-size: 18px;
}

.percent-k__value {
	font-weight: bold;
	font-size: 22px;
}

.percent-k__chance {
	color: #e12d81;
	font-size: 16px;
}

.refill-desc {
	margin-bottom: 20px;
}

.refill-wallet {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 0.02);
	margin-bottom: 20px;
}

.table-head {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.table-head-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.table-head__title {
	width: auto;
	height: 28px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
}

.table-head-nav__item {
	width: 106px;
	height: 36px;
	border-radius: 12px;
	font-size: 14px;
	font-weight: 500;
	line-height: 2.8;
	text-align: center;
	cursor: pointer;
	background-color: transparent;
	margin-right: 5px;
}

.table-head-nav__item:last-child {
	margin-right: 0;
}

.table-head-nav__item:hover {
	background-color: rgba(255, 255, 255, 0.02);
}

.table-head-nav__item_active {
	background-color: rgba(255, 255, 255, 0.02);
}

.table-head-nav__item_active:hover {
	background-color: rgba(224, 224, 255, 0.04);
}

.thead {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.71;
	text-align: left;
	width: 1110px;
	margin-left: -24px;
}

.card-lucky {
	height: 450px;
}
.card-license{
	width: 100%;
	height: 100%;
}
.card-big {
	width: 350px;
	height: 560px;
	border-radius: 24px;
	box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
	background-color: #2a2a41;
	position: relative;
	overflow: auto;
}

.card-mixed {
	position: relative;
	/*height: 508px;*/
}

.card-mixed-1, .card-mixed-2, .card-mixed-3, .card-mixed-4, .card-mixed-5 {
	position: relative;
	width: 350px;
	border-radius: 24px;
	box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
	background-color: #2a2a41;
}

.card-mixed-1 {
	height: 220px;
	margin-bottom: 30px;
}

.card-mixed-2 {
	height: 258px;
}

.card-mixed-3 {
	height: 508px;
}

.card-mixed-4 {
	height: 508px;
	margin-bottom: 30px;
}

.card-mixed-5 {
	height: 42px;
}

.card-wallet {
	position: relative;
	height: 180px;
	width: 100%;
	border-radius: 24px;
	box-shadow: 0 8px 8px -4px rgba(32, 32, 54, 0.06), 0 2px 4px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
	background-color: #2a2a41;
}

.card-stats {
	position: relative;
	height: 201px;
}

.deposit-wrap {
	top: inherit;
	margin: 50px 0;
}

.deposit {
	position: relative;
}

.input-group {
	padding-left: 0;
}

.input-group input {
	position: relative;
	top: auto;
	right: auto;
	left: auto;
	color: #ffffff;
}

.input-group_error input {
	border: solid 2px #ff00aa;
	background-color: rgba(224, 224, 255, 0.02);
	padding-left: 14px;
	padding-right: 69px;
}

.mobileMenuClass {
	display: none;
	left: 0;
	margin-top: -6px;
}

.dropdown-wrap {
	position: relative;
}

.dropdown-options {
	position: absolute;
	z-index: 10;
	top: 40px;
}

.dropdown-card_active {
	border-radius: 12px 12px 0 0;
	box-shadow: 0 16px 16px -4px rgba(32, 32, 54, 0.06), 0 4px 8px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
	background-color: #2a2a41;
}

.dropdown-option {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: #ffffff;
	padding: 12px 16px;
	width: 160px;
	box-shadow: 0 16px 16px -4px rgba(32, 32, 54, 0.06), 0 4px 8px -1px rgba(32, 32, 54, 0.06), 0 0 1px 0 rgba(32, 32, 54, 0.12);
	background-color: #2a2a41;
	cursor: pointer;
}

.dropdown-option:hover {
	background-color: #2e2e47;
}

.dropdown-option_active .colorTxt-5 {
	color: #ffffff;
}

.dropdown-option:last-child {
	border-radius: 0 0 12px 12px;
}

.dropdown-card_active .arrow-div {
	transform: rotate(180deg);
}

input {
	color: #ffffff;
}

.spinner {
	width: 100%;
	text-align: center;
	display: block;
}

.spinner > div {
	width: 12px;
	height: 12px;
	background-color: #fff;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

.mr30 {
	margin-right: 30px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 15px 0;
}

.left {
	display: flex;
	align-items: center;
}

.right {
	display: flex;
	align-items: center;
}

.header_open_menu_mob {
	position: absolute;
	top: 83px;
	left: 0;
	z-index: 9000;
	width: 100%;
	height: 320px;
	-webkit-backdrop-filter: blur(24px);
	backdrop-filter: blur(24px);
	background-image: -webkit-linear-gradient(270deg, #202036, rgba(255, 255, 255, 0.06));
	background-image: -moz-linear-gradient(270deg, #202036,rgba(255, 255, 255, 0.06));
	background-image: -o-linear-gradient(270deg, #202036, rgba(255, 255, 255, 0.06));
	background-image: linear-gradient(180deg, #202036, rgba(255, 255, 255, 0.06));
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.right__item {
	margin-right: 40px;
}

.header__nav {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
}

.header__balance {
	height: 24px;
	font-size: 23px;
	font-weight: 700;
	cursor: pointer;
}

.header__ava {
	width: 48px;
	height: 48px;
	background: url(/images/profiles/test.png) no-repeat;
	background-position: center center;
	background-size: 48px 48px;
	border-radius: 18px;
}

.header__menu-wrap {
	display: none;
	/*margin-left: 40px;*/
	margin-right: 30px;
	cursor: pointer;
}

.header__menu {
	width: 24px;
	height: 24px;
	background: url(/images/mobile-menu.svg) no-repeat;
	background-position: center center;
	background-size: 24px 24px;
	color: transparent;
}

.header__menu_close {
	background: url(/images/mobile-menu-close.svg) no-repeat;
	background-position: center center;
	background-size: 24px 24px;
}

.play-nav__arr {
	position: absolute;
	right: -21px;
	top: 7px;
	cursor: pointer;
}

.play-nav {
	position: relative;
	margin-right: 45px;
	cursor: pointer;
}

.rating-nav {
	margin-right: 25px;
}

.logo {
	color: #ff8800;
	font-size: 30px;
	font-weight: 700;
	line-height: 56px;
	text-align: center;
	letter-spacing: -0.83px;
	background: rgba(255, 136, 0, 0.03);
	border: none;
	width: 58px;
	height: 58px;
	border-radius: 29px;
	margin-right: 25px;
}

.curs {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 255, 170, 0.03);
	border-radius: 18px;
	padding: 5px;
}

.curs__img {

}

.curs__value {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	color: #00ffaa;
}

.btn-std {
	width: 141px;
	height: 48px;
	border-radius: 12px;
	box-shadow: 0 8px 8px -4px rgba(245, 92, 69, 0.12), 0 16px 24px 0 rgba(245, 92, 69, 0.24), 0 2px 4px -1px rgba(27, 10, 82, 0.12), 0 0 1px 0 rgba(245, 92, 69, 0.24);
	background-image: linear-gradient(to right, #ff8800, #f55c45 51%, #e12d81);
	font-size: 16px;
	font-weight: 600;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
	color: #ffffff;
	padding: 0;
}

.lang-wrap {
	position: relative;
	cursor: pointer;
}

.lang-img {
	width: 24px;
	height: 24px;
}

.lang-menu {
	position: absolute;
	top: 40px;
	left: -15px;
	z-index: 9999;
	background: #2a2a41;
	padding: 15px;
	border-radius: 12px;
	cursor: pointer;
}

.lang-menu img {
	margin-bottom: 10px;
}

.buttons {
	margin-top: 62px;
}

.buttons__row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttons__btn {
	width: 96px;
	height: 36px;
	font-family: 'Averta';
	background: rgba(255,255,255,0.02);
	border-radius: 12px;
	color: rgba(255,255,255,0.6);
	font-size: 14px;
	font-weight: 600;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
	margin: 3px;
}

.buttons__btn:hover {background-color: rgba(224, 224, 255, 0.04);}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0)
	}
	40% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

@media screen and (max-width: 991px) {
	.header__menu-wrap {
		display: block;
	}
	.header__nav {
		display: none;
	}

	.content {
		max-width: 730px;
	}

	.personal-card {
		width: 100%;
		height: 144px;
		margin-bottom: 30px;
	}

	.mobileMenuClass {
		display: block;
	}

	.li-card-7 {
		width: 311px;
	}

	.thead {
		display: none;
	}

	.card-big {
		margin-bottom: 30px;
	}

	.card-mixed {
		margin-bottom: 30px;
	}

	.card-mixed-5 {
		height: 68px;
		border-radius: 34px;
	}

	.li-card-Wal {
		display: block;
		width: 100%;
	}

	.card-stats {
		overflow-x: auto;
		max-width: 100%;
	}

	.ul-card-Wal {
		width: 100%;
	}

	.li-card-Wal {
		width: calc(100% - 36px);
	}

	.profile .personal-card .button-1 {
		top: 148px;
		left: 24px;
	}

	.profile .personal-card .button-1EX {
		top: 148px;
		left: 161px;
	}
}

@media screen and (max-width: 767px) {
	.right__item:not(.lang-wrap), .header__ava {
		display: none;
	}

	.content {
		max-width: 540px;
	}

	.dropdown-wrap {
		margin-bottom: 30px;
	}

	.dropdown-card {
		width: 262px;
	}

	.dropdown-option {
		width: 262px;
	}

	.card {
		height: 128px;
		width: 540px;
	}

	.card-bet {
		margin-bottom: 30px;
		height: 164px;
	}
	footer {
		flex-wrap: wrap;
	}

	.buttons__row {
		justify-content: flex-start;
		padding-left: 20px;
	}

	.moreless .card-bet {
		height: 148px;
	}

	.ul-card-7 {
		padding: 0;
	}

	.li-card-7 {
		width: 230px;
		margin-right: 10px
	}

	.li-card-7:nth-child(2n) {
		margin-right: 0;
	}

	.card-lucky {
		height: 272px;
		margin-bottom: 30px;
	}

	.jack-div {
		width: 228px;
		left: 214px;
	}

	.freebtc .jack-div {
		left: 288px;
	}

	.card-big {
		width: 100%;
	}

	.card-mixed,
	.card-mixed-1, .card-mixed-2, .card-mixed-3, .card-mixed-4, .card-mixed-5 {
		width: 100%;
	}

	.card-mixed-2 {
		height: 220px;
	}

	.card-mixed {
		/*height: 475px;*/
	}
}

@media screen and (max-width: 575px) {
	.content {
		width: 328px;
	}

	.dropdown-card, .dropdown-option {
		width: 328px;
	}

	.dropdown-options {
		position: relative;
		top: 0;
	}

	.personal-card {
		height: 216px;
	}

	.card-bet {
		height: 244px;
	}

	.card-game {
		height: 220px;
	}

	.jack-div {
		width: auto;
		left: 0;
	}

	.moreless .card-bet {
		height: 244px;
	}

	.card-info {
		height: 220px;
	}

	.table-head {
		flex-direction: column;
		align-items: flex-start;
	}

	.table-head__title {
		margin-bottom: 20px;
	}

	.card-lucky {
		height: 444px;
	}

	.card-num {
		height: 220px;
	}

	.freebtc .jack-div {
		left: 20px;
	}

	.depocard {
		top: 0;
	}

	.personal-card {
		width: 100%;
	}

	.card-mixed-2 {
		height: 244px;
	}

	.card-mixed {
		height: auto;
	}

	.card-mixed-5 {
		height: 42px;
		margin-bottom: -30px;
	}
}

.actionFinal {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.win {
	color: #e12d81;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.winSub {
	font-size: 12px;
}